
        .logo1 {
            height:150px;
            width: 200px;
        }
        .table_box {
            margin: 0 auto;
            margin-top:5px;
            text-align:left;    
              
        }
        .pageButton{
            
        }
        #resDiv{
            margin-left:150px;
            margin-right:400px;
        }

        ::-webkit-input-placeholder {
   text-align:center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align:center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align:center;
}

:-ms-input-placeholder {  
   text-align:center;
}

#search {
    width:300px;
    height:25px;
}

#spinner {
    position:fixed;
    top:40%;
    left:49%;
}

#alert {
    padding: 20px;
    background-color: #ffffcc; /* Red */
    color: black;
    margin-bottom: 15px;
    margin-left: 650px;
    margin-right: 650px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: red;
}

#window.alert{
    color:red;
}


